<div class=" item-container-body" id="item_<%= item.id %>">
  <div class="item-header">
    <%= image_tag gravatar_url(item.user), :class => "item-user-image"%>
    <span class="item-header-user"><%= item.user.display_name %></span>
    <span class="points-container">
      <span class="entypo-icon">8</span>
      <span class="points">12 </span>
    </span>
  </div>

  <% unless item.author == current_user || current_user == nil || current_user.display_name == @feed_owner %>
    <%= link_to "Refeed", stream_items_path(:streamable_type => item.class.name, :streamable_id => item.id), :id => "#{item.id}_action", :method => :post, :remote => true %>

    <%= link_to "Ajax Refeed", "#", 'data-author' => item.author.display_name, 'data-type' => item.class.name, 'data-id' => item.id, :class => "refeed_ajax_link"  %>
  <% end %>

  <br/>
  <% if item.class == TextItem %>
    <br/>
    <span class="text-item-body"><%= item.body %></span>
  <% elsif item.class == ImageItem %>
    <%= image_tag item.url, :class => "image-item" %>
    <br/>
    <br/>
    <div class="text-item-body">
      <%= item.comment %>
    </div>
  <% elsif item.class == LinkItem %>
    <span class="text-item-body">
      <%= link_to item.url, item.url %>
      <br/>
      <br/>
      <%= item.comment %> 
    </span>
  <% elsif item.class == TwitterItem %>
    <div>
      <div class="twitter">
        <%= item.tweet.text %>
      </div>
    </div>
  <% end %>

  <br/>
  <br/>

  <div>
    <span class="item-time">
      <%= time_ago_in_words(item.created_at) %> ago
    </span>

    <% if item.class == TextItem %>
      <span class="raphael-icon post-logo">E</span>
    <% elsif item.class == ImageItem %>
      <span class="raphael-icon post-logo">N</span>
    <% elsif item.class == LinkItem %>
      <span class="raphael-icon post-logo">È</span>
    <% elsif item.class == TwitterItem %>
      <span class="raphael-icon twitter-logo">^</span>
    <% end %>

    <span class="raphael-icon refeed">0</span>
  </div>
</div>
