
<div class=" item-container-body" id="item_<%= item.id %>">
  <div class="item-header">
    <%= image_tag gravatar_url(item.user), :class => "item-user-image" %>
    <span class="item-header-user"><%= link_to item.user.display_name, root_url(:subdomain => item.author.display_name) %></span>
    <% if item.refeed %>
      <h2>I am a refeed!</h2>
      <h3>I was refeed by <%= item.user.display_name %></h3>
      <h3>I was originally written by <%= item.author.display_name %></h3>
    <% end %>
    <span class="refeed-buttons">
      <% unless current_user == nil || !current_user.can_retrout?(item.streamable) %>
      <%= link_to("#", 'data-author' => item.author.display_name, 'data-type' => item.class.name, 'data-id' => item.to_param, :class => "refeed_ajax_link") do  %>
      <span class="raphael-icon refeed">0</span>
      <% end %>
  <% end %>
    </span>
    <span class="points-container">
      <% unless current_user && (item.user.display_name == current_user.display_name) %>     
      <%= link_to points_path(:item_type => item.streamable.class.name, :item_id => item.streamable_id), :method => :post, :id => "item_#{item.id}" do %>
      <span class="entypo-icon">8</span>
      <span class="points"><%= item.streamable.points.size %></span>
      <% end %>
      <% else %>
      <span class="entypo-icon">8</span>
      <span class="points"><%= item.streamable.points.size %></span>
      <% end %>
    </span>
  </div>
  <br/>
    <% item_class = item.streamable.class.to_s.underscore %>
    
    <%= render :partial => "#{item_class.pluralize}/#{item_class}", :locals => { :item => item.streamable} %>

  <br/>
  <br/>

<div>
    <span class="item-time">
      <%= time_ago_in_words(item.created_at) %> ago
    </span>

    <% if item.streamable.class == TextItem %>
      <span class="raphael-icon post-logo">E</span>
    <% elsif item.class == ImageItem %>
      <span class="raphael-icon post-logo">N</span>
    <% elsif item.class == LinkItem %>
      <span class="raphael-icon post-logo">È</span>
    <% elsif item.class == TwitterItem %>
      <span class="raphael-icon twitter-logo">^</span>
    <% elsif item.class == GithubItem %>
      <span class="raphael-icon github-logo">U</span>
    <% end %>
</div>
    

</div>
