<div class=" item-container-body" id="item_<%= item.id %>">
  <div class="item-header">
    <%= image_tag gravatar_url(item.user), :class => "item-user-image"%>
    <span class="item-header-user"><%= link_to item.user.display_name, root_url(:subdomain => item.author.display_name) %></span>

    <span class="points-container">
      <% unless current_user && ((item.points.find_by_user_id(current_user.id)) || item.user.display_name == current_user.display_name) %>     
      <%= link_to points_path(:item_type => item.class.name, :item_id => item.id), :method => :post, :id => "item_#{item.id}" do %>
      <span class="entypo-icon">8</span>
      <span class="points"><%= item.points.count %></span>
      <% end %>
      <% else %>
      <span class="entypo-icon">8</span>
      <span class="points"><%= item.points.count %></span>
      <% end %>
    </span>
  </div>
  <br/>
  <% if item.class == TextItem %>
    <br/>
    <span class="text-item-body"><%= item.body %></span>
  <% elsif item.class == ImageItem %>
    <%= image_tag item.url, :class => "image-item" %>
    <br/>
    <br/>
    <div class="text-item-body">
      <%= item.comment %>
    </div>
  <% elsif item.class == LinkItem %>
    <span class="text-item-body">
      <%= link_to item.url, item.url %>
      <br/>
      <br/>
      <%= item.comment %> 
    </span>
  <% elsif item.class == TwitterItem %>
    <div>
      <div class="twitter">
        <%= item.tweet.text %>
      </div>
    </div>
  <% elsif item.class == GithubItem %>
    <div>
      <div class="text-item-body">
        <%= github_body(item) %>
        <br/>
        <br/>
        <% if @commits %>
          <ul>
            <% @commits.each do |commit| %>
              <li class="git-commit"><a href="<%= commit.url %>"><%= commit.message %></a></li>
            <% end %>
          </ul>
        <% end %>
      </div>
    </div>
  <% end %>

  <br/>
  <br/>

<div>
    <span class="item-time">
      <%= time_ago_in_words(item.created_at) %> ago
    </span>

    <% if item.class == TextItem %>
      <span class="raphael-icon post-logo">E</span>
    <% elsif item.class == ImageItem %>
      <span class="raphael-icon post-logo">N</span>
    <% elsif item.class == LinkItem %>
      <span class="raphael-icon post-logo">È</span>
    <% elsif item.class == TwitterItem %>
      <span class="raphael-icon twitter-logo">^</span>
    <% elsif item.class == GithubItem %>
      <span class="raphael-icon github-logo">U</span>
    <% end %>
    <div class="refeed-buttons">
      <% unless current_user == nil || !current_user.can_retrout?(item) %>
      <%= link_to("#", 'data-author' => item.author.display_name, 'data-type' => item.class.name, 'data-id' => item.id, :class => "refeed_ajax_link") do  %>
      <span class="raphael-icon refeed">0</span>
      <% end %>
  <% end %>
    </div>
</div>
    

</div>
