
<% if current_user %>
  <% @items.each do |item| %>
    <div class="row feed_row">
      <div class="span8"> 
        <div class="span3 item_header">
          <span class="item_owner"><%= item.user.display_name %></span>
          <%= time_ago_in_words(item.created_at) %> ago
        </div>

        <% if item.class == TextItem %>
          <div class="span6 oval-thought-border text_item_body">
            <%= item.body %>
          </div>
        <% elsif item.class == ImageItem %>
          <div class="span6 oval-thought-border">
            <div class="span3 body_image ">
              <%= image_tag item.url %>
            </div>
            <div class="">
              <%= item.comment %>
            </div>
          </div>
        <% elsif item.class == LinkItem %>
          <div class="span6 oval-thought-border">
            <div class="item_link">
              <%= link_to item.url %>
            </div>
            <br/>
            <div class="text_item_body">
              <%= item.comment %>
            </div>
          </div>
        <% end %>
      </div>
    </div>
    <% end %>

    <%= paginate @stream_items %>
  <% end %>
