<div class="span7" >
<script src="http://js.pusherapp.com/1.9/pusher.min.js"></script>
 <script type="text/javascript">
 var pusher = new Pusher('<%= Pusher.key %>'); // uses your API KEY
 var channel = pusher.subscribe('test_channel');
 channel.bind('greet', function(data) {
      var user = '<%= current_user.display_name unless current_user == nil %>'
      if (data.author == user) {
        $("#alert-bar").addClass('alert-success').text("You have been retrouted!").hide()
  $("#alert-bar").slideDown().delay(5000).slideUp()
      }
});

 </script>
<h1 class="feed-title span7"><%= @feed_owner.display_name %>'s stream</h1>
<div class="span7 feed-list" id="stream-items">

  <% if @items %>
    <% @items.zip(@stream_items).each do |i, si| %>
      <%= render :partial => "item", :locals => { :item => i, :stream_item => si } %>
    <% end %>
  <% end %>
</div>
</div>

  <div class="feed-meta-container offset1 span3">
    <table>
      <tr>
        <td>
          <div class="post-count-container">
            <span class="post-count"><%= @feed_owner.stream_items.count %></span>
            <br/>
            <span class="post-count-label">posts</span>
          </div>
        </td>
        <td>
          <div class="following-count-container">
            <span class="following-count">10</span>
            <br/>
            <span class="following-count-label">trouting</span>
          </div>
        </td>
        <td>
          <div class="follower-count-container">
            <span class="follower-count">1000</span>
            <br/>
            <span class="follower-count-label">trouters</span>
          </div>
        </td>
      </tr>
    </table>
    <br/>
    <br/>
    <br/>

    <h3>Linked Services</h3>
    <% if twitter_connected?(@feed_owner) %>
      <span class="raphael-icon linked-twitter-logo">^</span>
    <% end %>
    <% if github_connected?(@feed_owner) %>
      <span class="raphael-icon linked-post-logo">U</span>
    <% end %>
    <% if !twitter_connected?(@feed_owner) && !github_connected?(@feed_owner) %>
      <br/>
      <h4>None</h4>
    <% end %>
  </div>
  <div class="span12" id="pagination-div">
    <%= paginate @stream_items %>
  </div>
