<div class="main-image">
  <img src="/assets/welcome.jpg">
</div>

<div class="root">
  <div class='row'>
    <div class='span8 offset2 grey-box well'>
      <h3>Sign up</h3>
      <hr />

      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
        <%= f.input :display_name, :placeholder => 'Display Name', :label => false, :input_html => { :class => 'span5' } %>
        <%= f.input :email, :placeholder => 'Email Address', :label => false, :input_html => { :class => 'span5' } %>
        <%= f.input :password, :placeholder => 'Password', :label => false, :input_html => { :class => 'span5' } %>
        <%= f.input :password_confirmation, :placeholder => 'Password Confirmation', :label => false, :input_html => { :class => 'span5' } %>
        <hr />
        <div style='text-align:center'>
          <%= f.submit 'Create An Account', :class => 'btn-warning btn-large span6' %>
        </div>
      <% end %>
    </div>
  </div>
</div>