<div class="main-image">
  <img src="/assets/dashboard.jpg">
</div>

<div class="row">
  <div class="span12">
    <div class="header">
      <h1>Dashboard</h1><br>
    <div class="row">
      <div class="span3">
        <h3>Create Post</h3>
        <div class="well create-post">
          <ul id='post_tabs' class="nav nav-pills">
            <li><a href="#text_post" data-toggle="tab">Text</a></li>
            <li><a href="#link_post" data-toggle="tab">Link</a></li>
            <li><a href="#image_post" data-toggle="tab">Image</a></li>
          </ul>

          <div class="tab-content">
            <div class="tab-pane active" id="text_post">
              <%= render "posts/form_text_post", :post => @post %>
            </div>
            <div class="tab-pane active" id="link_post">
              <%= render "posts/form_link_post", :post => @post %>
            </div>
            <div class="tab-pane active" id="image_post">
              <%= render "posts/form_image_post", :post => @post %>
            </div>
          </div>
        </div>
      </div>
      <div class="span6">
        <h3>Most Recent Posts</h3>
        <div class="well recent-posts">
          <% @posts.each do |post| %>
            <%= render "posts/show_#{post.template}", :post => post %>
            <hr />
          <% end %>
        </div>
      </div>
      <div class="span3">
        <h3>Account Info</h3>
        <div class="account-info">
          <%= "Email: #{@current_user.email}" %><br>
          <%= "Display Name: #{@current_user.display_name}" %><br>
          <%= link_to "Change Password", edit_user_registration_path %><br>
          <br>
        </div>
      </div>
    </div>
  </div>
</div>