<div class="edit-account-container">
<h2>Change your password</h2>
<h4><%= current_user.email %></h4>
<br/>
<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <%= devise_error_messages! %>

  <div><%= f.label :current_password %>
  <%= f.password_field :current_password %></div>
  <br />
  <div><%= f.label "New Password" %>
  <%= f.password_field :password, :autocomplete => "off" %></div>

  <div><%= f.label "Confirm your new password" %>
  <%= f.password_field :password_confirmation %></div>

  <div><%= f.submit "Update", :class => "btn"  %></div>
<% end %>
</div>
