<h2>Edit <%= resource_name.to_s.humanize %></h2>

<%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name), :html => { :method => :put }) do |f| %>
  <% if f.error_notification %>
    <div class="alert-box error">
      <%= f.error_notification %>
      <a href="" class="close">&times;</a>
    </div>
  <% end %>
  <div class="current_information">
    <p>
      <strong>Display Name:</strong> <%= current_user.display_name %><br />
      <strong>Email:</strong> <%= current_user.email %><br />
    </p>
  </div>

  <div class="inputs">
    <%= f.input :password, :autocomplete => "off", :required => false %>
    <%= f.input :password_confirmation, :required => false %>
    <%= f.input :current_password, :required => true %>
  </div>

  <div class="actions">
    <%= f.button :submit, "Update" %>
  </div>
<% end %>

<%= link_to "Back", :back %>