<div class="span3 offset3 trout-container">
  <h1 class="signup-title">Sign up</h1>
  <br/>

  <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= devise_error_messages! %>

   <%= f.label :email %><br />
      <%= f.email_field :email, :class => "signup-fields" %>

    <%= f.label :display_name %><br />
      <%= f.text_field :display_name, :class => "signup-fields" %>

    <%= f.label :password %><br />
      <%= f.password_field :password, :class => "signup-fields" %>

    <%= f.label :password_confirmation %><br />
    <%= f.password_field :password_confirmation, :class => "signup-fields" %>

  <div><%= f.submit "Sign up" %></div>
<% end %>
</div>
