<br/>
<br/>
<br/>
<br/>
<div class="span3 offset4 trout-container">
<h1>Forgot your password?</h1>

<p>Enter your email address below.</p>
<br>

<%= form_for(resource, :as => resource_name, :url => password_path(resource_name), :html => { :method => :post }) do |f| %>
  <%= devise_error_messages! %>

  <%= f.label :email %>
  <%= f.email_field :email %>

  <div><%= f.submit "Submit", :class => "btn btn-primary btn-large"  %></div>
<% end %>
