 <script src="http://js.pusherapp.com/1.9/pusher.min.js"></script>
 <script type="text/javascript">
 var pusher = new Pusher('<%= Pusher.key %>'); // uses your API KEY
 var channel = pusher.subscribe('new_channel');
 channel.bind('hello', function(data) {
      
      $(data.html).hide().prependTo('#stream-items').fadeIn("slow");
      
});

 </script>
<br/>
<br/>
<div class="span12">
  <% if @items %>
    <h1 class="feed-title span12" id="river-title" >What's new in the Troutr River</h1>
    <div class="span7 feed-list" id="stream-items">
      <% if @stream_items %>
    <% @stream_items.each do |stream_item| %>
      <%= render :partial => "feed/item", :locals => { :item => stream_item } %>
    <% end %>
  <% end %>
    </div>
  <% end %>

  <% unless current_user %>
    <div class="span3 trout-container" id="river-login-box">
      <h1 class="login-title">troutr</h1>

      <br/>
      <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
        <%= f.email_field :email, :placeholder => "Email", :class => "login-fields" %>

        <%= f.password_field :password, :placeholder => "Password", :class => "login-fields" %>

        <%= f.submit "Log In", :class => "btn-primary btn-large" %>
        <%=link_to "Forgot password?", new_user_password_path(resource_name), :id => "forgot-password" %>
      <% end %>
    </div> 
     <div class="span3 trout-container" id="river-signup-box">
        <h1 class="signup-title">Sign up</h1>
      <br/>

      <%= simple_form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
    <%= f.input :email, :label_html => {:class => "text-item-label"}, 
      :input_html => {:class => "river-signup-box-text-field"} %>

    <%= f.input :display_name, :required => false, :label_html => {:class => "text-item-label"}, 
    :input_html => {:class => "river-signup-box-text-field"} %>

    <%= f.input :password, :label_html => {:class => "text-item-label"}, 
      :input_html => {:class => "river-signup-box-text-field"} %>

    <%= f.input :password_confirmation, :label_html => {:class => "text-item-label"}, 
      :input_html => {:class => "river-signup-box-text-field"} %>

    <%= f.submit "Sign up", :class => "signup-button btn-primary btn-large" %>
    <%= link_to "Cancel", root_path, :class => "signup-cancel-button btn" %>
    <% end %>
    </div>
  <% else %> 
    <%= render :partial => "users/spawn" %>
  <% end %>
</div>
