<% @post ||= current_user.posts.new %>
<h3>New Post</h3><br>
<%= simple_form_for :post, url: posts_path, method: :post do |f| %>
  <%= f.input :title, value: @post.title %>
  <%= f.input :content, value: @post.content %>
  <%= f.input :comment, value: @post.comment %>
  <%= f.input :type, :as => :radio, :collection => ["Text Post", "Link Post", "Image Post"], :checked => "Text Post" %>
  <%= f.button :submit, "Submit" %>
<% end %>