<!DOCTYPE html>
<html>
<head>
  <title>FeedEngine</title>
  <%= favicon_link_tag %>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <%= render "application/nav_bar" %>
  <p id="flash"></p>
  <p id="notice"><%= notice %></p>
  <%= yield %>

</body>
</html>
